
body {
  font-family: sans;
  color: #3a3a3a;
  margin: 0px;
  padding-bottom: 100px;
  text-align: center;
}

h1 {
  font-size: 72px;
  color: white;
  margin: 0;
  padding-top: 200px;
  text-transform: uppercase;
  font-weight: normal;
}

h2 {
  color: #F9305B;
  font-size: 30px;
}

.title {
  color: white;
  font-size: 20px;
  padding: 0px;
}

header {
  background-color: #4A47E5;
  background: linear-gradient(#4A47E5, rgba(255, 0, 0, 0) 80%),
              linear-gradient(transparent 40%, #fff 90%),
              url(../images/palmtrees.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0px;
  height: 700px;
}

/* NAVIGATION ---------- */

.nav {
  float: right;
  list-style-type: none;
  margin: 40px;
  padding: 0;
}

.nav li {
  display: inline;
  padding: 0px 30px;
  border-right: 1px solid white;
}

.nav li:last-child {
  border-right: none;
}

.nav a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 2px;
}

.nav a:hover {
  color: #4A47E5;
}

/* CONTENT ------------*/

main {
  width: 60%;
  margin: auto;
}

.first-div {
  border-top: 1px solid #4A47E5;
  padding-top: 10px;

}

.second-di {
  color: white;
  background-image: url(../images/sunset.jpg);
  background-size: cover;
  height: 600px

}
